#calculadora {
    width: 300px;
    max-width: 300px;
    overflow: hidden;
    display: grid;
    grid-template-areas: "display display display display" "abre cierra delete reset" "num_1 num_2 num_3 suma" "num_4 num_5 num_6 resta" "num_7 num_8 num_9 multip" "num_0 coma igual divis";
    justify-content: space-evenly;
    background-color: #333333;
    padding: 5px;
    border: solid 1px black;
    border-radius: 5px;
}

#display {
    max-width: 220px;
    grid-area: display;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 75px;
    font-size: 18px;
    background-color: black;
    color: yellowgreen;
    border: yellowgreen 1px solid;
    border-radius: 5px;
    margin: 5%;
    word-break: break-all
}

#calculadora button {
    font-weight: bold;
    width: 40px;
    height: 40px;
    color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2)
}

.azul {
    grid-area: auto;
    background-color: darkblue;
}

.verde {
    grid-area: auto / 4 / auto / 5;
    background-color: darkgreen;
}

.rojo {
    grid-area: auto;
    background-color: darkred;
}

.violeta {
    grid-area: auto;
    background-color: darkmagenta;
}

.num_1 {
    grid-area: num_1;
}

.num_2 {
    grid-area: num_2;
}

.num_3 {
    grid-area: num_3;
}

.num_4 {
    grid-area: num_4;
}

.num_5 {
    grid-area: num_5;
}

.num_6 {
    grid-area: num_6;
}

.num_7 {
    grid-area: num_7;
}

.num_8 {
    grid-area: num_8;
}

.num_9 {
    grid-area: num_9;
}

.num_0 {
    grid-area: num_0;
}

.delete {
    grid-area: delete;
}

.reset {
    grid-area: reset;
}

.coma {
    grid-area: coma;
}

.abre {
    grid-area: abre;
}

.cierra {
    grid-area: cierra;
}

.igual {
    grid-area: igual;
}